# <font style= "color:limegreen">Welcome to</font> <font style= "color:dodgerblue">Practice Runs</font> <font style= "font-family:'verdana';color:dodgerblue">2</font><br><br><br>
### <font style= "color:crimson">Here  we will start practicing python statements(if..else, for loop, while loop and<br><br> many more)</font>

In [1]:
#if...else statement in python
if True:
    print('This is True')

This is True

In [2]:
x = 2
y = 5
z = 6
if x<y<z:
    print('Condition True')

Condition True

### This code will work for executing first condition and else block statements

In [3]:
# print() doesnot return true so else block is executed
# 'and' keyword executes 'if' block only when both conditions are true and here print()
# is not returning any boolean value so 'and' takes 1st condition as 'False' so
# 'else' block is executed

if print("True/False") and print("True or False"):
    print('Hi')
else:
    print('Hello')

True/False
Hello

### This code will work for printing both conditions<br>and else block statements
<code>if condition or condition:
  if block statements
else:
  else block statements
</code>
<br>

In [4]:
if print('Hello') or print('Hi'):
    print('Both')
else:
    print('Nothing')

Hello
Hi
Nothing

In [5]:
# Here also only the first condition is checked and othes are ignored if 1st condition is 'False'
if print("Hello") and print("Hi") and True:
    print("Both Printed")
else:
    print('Nothing Printed')

Hello
Nothing Printed

In [6]:
# if' block will only execute if all conditions, chained using, 'and ' are true
# Even if one condition is true 'if' block will not execute
if True and print("Hello") and print("Hi"):
    print('Both may get printed')
else:
    print('Nothing Printed')

Hello
Nothing Printed

In [7]:
# this is an example of using 'and' and 'or'
if print('Hello') or print("Hi") and True:
    print('Hi2')
else:
    print('Hi3')

Hello
Hi
Hi3

In [8]:
# example 2:
if 2 < 3 or 1 > 0:
    print('Dog')
else:
    print('Cat')

Dog

In [9]:
# example 3:
if 2 < 3 or 5 > 3 and 9 > 7:
    print("Dog")
else:
    print("Cat")

Dog

In [10]:
# example 4:
if 2 > 3 or 7 < 11 and 1 > 5:
    print("Dog")
else:
    print("Cat")

Cat

In [11]:
# example 5:
if 2 < 4 and 7 < 1 or 1 < 2:
    print("Dog")
else:
    print("Cat")

Dog

In [12]:
# example 6:
if 2 < 4 and 7 < 1 or 1 > 2:
    print("Dog")
else:
    print("Cat")

Cat

### <font style='color:limegreen' > **This will execute if block statements** </font>

In [13]:
# 'if' block is executed if anyone one codition, chained using 'or', is True
if 2 < 8 or 5 > 2:
    print("Dog")
else:
    print("Cat")

Dog

**So using this we can print both 'Hello' and 'Hi'**

In [14]:
# Both conditions are evaluated because both are chained by 'or'
# But as both are print() so 'if' block is not executed
if print("Hello") or print("Hi"):
    print("Both Printed")
else:
    print("Not printed")

Hello
Hi
Not printed

In [15]:
# above can also be written as
if print("Hello") or print("Hi") or False:
    print("Both Printed")
else:
    print("Not printed")

Hello
Hi
Not printed

In [16]:
# This will execute 'if' block
if print('Hello') or print('Hi') or True:
    print('Both Printed')
else:
    print('Nothing printed')

Hello
Hi
Both Printed

# For loop

In [17]:
for list_item in [1,1,1,1,1,1,2,2,2,2,3,3,3]:
    print(f"Item: {list_item}")

Item: 1
Item: 1
Item: 1
Item: 1
Item: 1
Item: 1
Item: 2
Item: 2
Item: 2
Item: 2
Item: 3
Item: 3
Item: 3

In [18]:
for list_item in [1,1,1,1,1,1,2,2,2,2,3,3,3]:
    print("Item: {}".format(list_item))

Item: 1
Item: 1
Item: 1
Item: 1
Item: 1
Item: 1
Item: 2
Item: 2
Item: 2
Item: 2
Item: 3
Item: 3
Item: 3

### Printing 1 to 10

In [19]:
for x in "12345678910":
    print(x)

1
2
3
4
5
6
7
8
9
1
0

**Woohps! 10 is not printed**

**If string is printing every character just use list**

In [20]:
for x in [1,2,3,4,5,6,7,8,9,10]:
    print(x)

1
2
3
4
5
6
7
8
9
10

**Trials of some list methods which we will use later**

In [21]:
list_one = [2,1,3,6,4,5,7,9,8]

In [22]:
list_one

[2, 1, 3, 6, 4, 5, 7, 9, 8]

In [23]:
list_one.count(7)

1

In [24]:
list_one.clear()

In [25]:
list_one

[]

## Looping Continues:

In [26]:
for x in [1,2,3,4,5,6,7]:
    print(x)

1
2
3
4
5
6
7

In [27]:
list_one = []
for x in [1,2,3,4,5,6,7]:
    list_one.append(x)

In [28]:
list_one

[1, 2, 3, 4, 5, 6, 7]

In [29]:
list_one.clear()

In [30]:
list_one = [1]
count = 2
for x in list_one:
    if x != 10:
        print(list_one)
        list_one.append(count)
        print(list_one)
        print('\n')
        count += 1
    else:
        print(list_one)
        break
print('1 to 10 printed')

[1]
[1, 2]


[1, 2]
[1, 2, 3]


[1, 2, 3]
[1, 2, 3, 4]


[1, 2, 3, 4]
[1, 2, 3, 4, 5]


[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]


[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]


[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]


[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]


[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1 to 10 printed

In [31]:
list_one

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Printing pattern:
<pre>
     *
    **
   ***
  ****
 *****
******
</pre>

In [32]:
star_string = "******"
space_string =' '
count = len(star_string) - 1
for x in star_string:
    if count >= 0:
        print(count * space_string + (len(star_string) - count) * x)
        count -= 1

     *
    **
   ***
  ****
 *****
******

**Trials of some dictionary methods which we will use later**

In [33]:
dict_loop = {'k1':1,'k2':2,'k3':3}

In [34]:
dict_loop

{'k1': 1, 'k2': 2, 'k3': 3}

In [35]:
dict_loop.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [36]:
dict_loop.keys()

dict_keys(['k1', 'k2', 'k3'])

In [37]:
dict_loop.values()

dict_values([1, 2, 3])

## Looping continues

In [38]:
for x in dict_loop:
    print(x)

k1
k2
k3

In [39]:
for x in dict_loop.items():
    print(x)

('k1', 1)
('k2', 2)
('k3', 3)

## dictionary unpacking

In [40]:
for x,y in dict_loop.items():
    print(x)
    print(y)

k1
1
k2
2
k3
3

In [41]:
for x,r in dict_loop.items():
    print(r)

1
2
3

In [42]:
tuple_loop = (1,3,2,4,9,3,8,7)

In [43]:
tuple_loop

(1, 3, 2, 4, 9, 3, 8, 7)

In [44]:
for tup_item in tuple_loop:
    print(tup_item)

1
3
2
4
9
3
8
7

In [45]:
list_two = [(3,4),(5,6),(7,8)]

In [46]:
list_two

[(3, 4), (5, 6), (7, 8)]

In [47]:
for list_item in list_two:
    print(list_item)

(3, 4)
(5, 6)
(7, 8)

## tuple unpacking

In [48]:
for x,y in list_two:
    print(y)

4
6
8

In [49]:
for x,y in list_two:
    print(x)
    print(y)

3
4
5
6
7
8

# while loops

In [50]:
x = 0
while x < 5:
    print(x)
    x += 1

0
1
2
3
4

In [51]:
# same thing with an else statement
x = 1
while x <= 10:
    print(x)
    x += 1
else:
    print('looping ends')

1
2
3
4
5
6
7
8
9
10
looping ends

In [52]:
# same trick of printing 2 statements
while print('Hello'):
    break
else:
    print('Hi')

Hello
Hi

In [53]:
# same trick of printing 2 statements
while print('Hello'):
    print('Bye ')
else:
    print('Hi')

Hello
Hi

# Useful operators

## range()

In [54]:
# not printing any numbers
range(10)

range(0, 10)

In [55]:
# not printing any numbers even if print() is used
print(range(10))

range(0, 10)

In [56]:
# typcasting as list
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
for x in range(5):
    print(x)

0
1
2
3
4

In [58]:
# Same thing as
for x in range(0,5):
    print(x)

0
1
2
3
4

In [59]:
# Same as
for x in range(0,5,1):
    print(x)

0
1
2
3
4

In [60]:
# printing even numbers from 0 to 10
for x in range(0,11,2):
    print(x)

0
2
4
6
8
10

In [61]:
# same output as below list
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

## enumerate()

In [62]:
aword = 'anything'

In [63]:
enumerate(aword)

In [64]:
for x in enumerate(aword):
    print(x)

(0, 'a')
(1, 'n')
(2, 'y')
(3, 't')
(4, 'h')
(5, 'i')
(6, 'n')
(7, 'g')

**tuples contaning letters and their index positions**

In [65]:
# so using tuple unpacking
for x,y in enumerate(aword):
    print('At index {} we have letter {}'.format(x,y))

At index 0 we have letter a
At index 1 we have letter n
At index 2 we have letter y
At index 3 we have letter t
At index 4 we have letter h
At index 5 we have letter i
At index 6 we have letter n
At index 7 we have letter g

In [66]:
# typecasting enumerate result to list
list(enumerate("Hello"))

[(0, 'H'), (1, 'e'), (2, 'l'), (3, 'l'), (4, 'o')]

## *`in`* operator

In [67]:
list_one

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [68]:
6 in list_one

True

In [69]:
astring = 'today the weather is nice'

In [70]:
'x' in astring

False

In [71]:
'o' in astring

True

In [72]:
list_two

[(3, 4), (5, 6), (7, 8)]

In [73]:
3 in list_two

False

In [74]:
(3,4) in list_two

True

In [75]:
(3) in list_two

False

In [76]:
list_three = ['f','H','F','a','y']

In [77]:
'H' in list_three

True

In [78]:
'h' in list_three

False

In [79]:
list_three.append('hello')

In [80]:
list_three

['f', 'H', 'F', 'a', 'y', 'hello']

In [81]:
'Hello' in list_three

False

In [82]:
'hello' in list_three

True

**some doubt clears**

In [83]:
#typecasting list to string
str(list_three)

"['f', 'H', 'F', 'a', 'y', 'hello']"

**you can see the string is automatically in double quotes because the list contains single quotes**

In [84]:
bstr = str(enumerate("nice"))

In [85]:
bstr

'<enumerate object at 0x000002AF19EE75E8>'

**typecasting result of enumerate() to string doesnot work**

**getting an item from a list of tuples**

In [86]:
list_four = list(enumerate('good'))

In [87]:
list_four

[(0, 'g'), (1, 'o'), (2, 'o'), (3, 'd')]

In [88]:
list_four[0]

(0, 'g')

In [89]:
list_four[0][1]

'g'

**you can use indexing to get indvidual tuple item from a list of tuples**

## oprator practice continues:

## zip()

In [90]:
list(zip(list_one,list_two))

[(1, (3, 4)), (2, (5, 6)), (3, (7, 8))]

In [91]:
list(zip(list_one,list_three))

[(1, 'f'), (2, 'H'), (3, 'F'), (4, 'a'), (5, 'y'), (6, 'hello')]

**Concatnating string using 'for' loop**

In [92]:
bstr= ''
# typecasting item to string because item iterates through integer type objects
for item in list_one:
    bstr = bstr + str(item)

In [93]:
bstr

'12345678910'

In [94]:
list_string1 = ['good','nice',"I'm"]
list_string2 = ['work','day','fine']

In [95]:
for x,y in zip(list_string1,list_string2):
    print(x + " " + y)

good work
nice day
I'm fine

In [96]:
list_string1 = ['Apple','Banana','Orange','Grapes']
list_string2 = ['50','30','45','25']
list_string3 = ['piece','dozen','kilogram','250 grams']

In [97]:
for x,y,z in zip(list_string1,list_string2,list_string3):
    print(x + " costs " + y + " per " + z)

Apple costs 50 per piece
Banana costs 30 per dozen
Orange costs 45 per kilogram
Grapes costs 25 per 250 grams

## min and max

In [98]:
list_one

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [99]:
min(list_one)

1

In [100]:
max(list_one)

10

In [101]:
list_four

[(0, 'g'), (1, 'o'), (2, 'o'), (3, 'd')]

In [102]:
min(list_four)

(0, 'g')

In [103]:
max(list_four)

(3, 'd')

In [104]:
list_two

[(3, 4), (5, 6), (7, 8)]

In [105]:
list_three

['f', 'H', 'F', 'a', 'y', 'hello']

In [106]:
min(list_two)

(3, 4)

In [107]:
max(list_two)

(7, 8)

In [108]:
min(list_three)

'F'

In [109]:
max(list_three)

'y'

## random

In [110]:
list_one

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [111]:
# importing from 'random' library
# also presing on 'tab' after 'import' keyword will show a list of methods in that library
from random import shuffle
shuffle(list_one)
# hitting 'shift+tab' shows up a method description
# shuffling the list in place

In [112]:
list_one

[2, 6, 9, 8, 3, 4, 1, 5, 10, 7]

In [113]:
# now shuffle can be used anywhere
shuffle(list_one)

In [114]:
list_one

[9, 10, 2, 8, 4, 5, 7, 1, 6, 3]

In [115]:
# getting a random integer
from random import randint
randint(5,9)

8

In [116]:
randint(3,7)

3

In [117]:
for x in 'hello':
    print(randint(0,7))

6
6
2
0
3

In [118]:
a = 5
b = 18
for x in 'gjuguig':
    print(randint(a,b))

14
15
17
6
15
18
16

## Input

In [119]:
input('Enter your name:')

Enter your name:manas

'manas'

In [120]:
# storing the input
aname = input("Enter your name please:")

Enter your name please:manas

In [121]:
aname

'manas'

In [122]:
# now interesting things happen
for x in 'hdgfh':
    aname = input('Enter first name: ')
    cname = input('Enter last name: ')
    choice = input("Do you have a middle name: (y/n)")
    if choice == 'y':
        bname = input("Enter middle name: ")
        print('Your full name is :' + aname + " " + bname + " " + cname)
    else:
        print('Your full name is :' + aname + " " + cname)

Enter first name: manas
Enter last name: mishra
Do you have a middle name: (y/n)y
Enter middle name: ranjan
Your full name is :manas ranjan mishra
Enter first name: rajib
Enter last name: patra
Do you have a middle name: (y/n)n
Your full name is :rajib patra
Enter first name: ram
Enter last name: choudhary
Do you have a middle name: (y/n)y
Enter middle name: kihsan
Your full name is :ram kihsan choudhary
Enter first name: priti
Enter last name: bhatt
Do you have a middle name: (y/n)n
Your full name is :priti bhatt
Enter first name: ram
Enter last name: pradhan
Do you have a middle name: (y/n)y
Enter middle name: kumar
Your full name is :ram kumar pradhan

In [123]:
res = input('Enter a number: ')

Enter a number: 7

In [124]:
res

'7'

In [125]:
type(res)

str

**the type of result of input() is always a string so typecasting it to number**

In [126]:
res = int(res)

In [127]:
res

7

In [128]:
type(res)

int

**now applying this concept below**

In [130]:
# now a bit more daring
x = 0
i = input('Enter a number :')
while x != int(i):
    aname = input('Enter first name: ')
    cname = input('Enter last name: ')
    choice = input("Do you have a middle name: (y/n)")
    if choice == 'y':
        bname = input("Enter middle name: ")
        print('Your full name is :' + aname + " " + bname + " " + cname)
    else:
        print('Your full name is :' + aname + " " + cname)
    x += 1

Enter a number :1
Enter first name: manas
Enter last name: mishra
Do you have a middle name: (y/n)y
Enter middle name: ranjan
Your full name is :manas ranjan mishra

**Above program takes user input for how many people want to print their full name**

**Below markdown was created using '_' three times**

___
# List comprehension

In [131]:
dict_loop

{'k1': 1, 'k2': 2, 'k3': 3}

In [132]:
list_comp1 = [key for key in dict_loop]

In [133]:
list_comp1

['k1', 'k2', 'k3']

In [134]:
list_comp1 = [val for val in dict_loop.values()]

In [135]:
list_comp1

[1, 2, 3]

In [137]:
# tuple unpacking in list comprehension
list_comp1 = []
list_comp1 = [y for x,y in dict_loop.items()]

In [138]:
list_comp1

[1, 2, 3]

In [139]:
list_string1

['Apple', 'Banana', 'Orange', 'Grapes']

In [140]:
list_comp2 = [word[1] for word in list_string1]

In [141]:
list_comp2

['p', 'a', 'r', 'r']

In [142]:
# string slicing with list comprehension
list_comp2 = [word[1:4] for word in list_string1]

In [143]:
list_comp2

['ppl', 'ana', 'ran', 'rap']

In [144]:
# list of reversed strings
list_comp2 = [word[::-1] for word in list_string1]
print(list_comp2)

['elppA', 'ananaB', 'egnarO', 'separG']

## examples of range()

In [145]:
# third argument is step size in range()
# printing even numbers between 0 t0 10
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [146]:
# numbers between 1 to 50 divisible by 3
for x in range(3,51,3):
    print(x)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

## This is the end of Practice Runs 2:(
<br><br><br><br><br><br><br><br><br><br>
## And begining of Practice Runs 3 :D
## We will meet there