# <font style= "color:limegreen">Welcome to </font><font style= "color:dodgerblue">Practice Runs</font> <font style= "font-family:'verdana';color:dodgerblue">1</font><br><br><br>
### <font style= "color:crimson">Contains practice runs of Data types Data structures(Numbers, Strings, Lists, Dictionaries,<br><br>and more) also File I/O</font>

In [1]:
print(2+3)

5

In [2]:
my_string

NameError: name 'my_string' is not defined

In [3]:
my_string = None

In [4]:
print(2+3)

5

this is just some practice run

In [5]:
2+3

5

In [6]:
my_string="Hello"

In [7]:
print(my_string)

Hello

In [8]:
#Here are some practice cases

# Here are some practice cases#

## Here are some practice runs

### Here are some practice runs

In [9]:
print(2)

2

In [10]:
x=2

In [11]:
rt="I am {} years old"

In [12]:
rt

'I am {} years old'

In [13]:
rt.format(x)

'I am 2 years old'

In [14]:
rt='qwertyuiop'

In [15]:
print(rt)

qwertyuiop

In [16]:
print(rt[2:len(rt)])

ertyuiop

In [17]:
print(len(rt
         ))

10

In [18]:
print(rt[:len(rt):])

qwertyuiop

In [19]:
print(rt[::])

qwertyuiop

In [20]:
print(rt[:])

qwertyuiop

In [21]:
rt="I am {}".format('here')

In [22]:
rt

'I am here'

## These are for practice

In [23]:
rt='here'
print("I am {}".format(rt))

I am here

In [24]:
str = 'sorry'

In [25]:
str = str.capitalize()
print(str)

Sorry

In [26]:
str.split("o")

['S', 'rry']

In [27]:
str = str.casefold()

In [28]:
str

'sorry'

In [29]:
str.isascii()

True

In [30]:
str = str.upper()

In [31]:
str

'SORRY'

In [32]:
str = str.lower()

In [33]:
str

'sorry'

In [34]:
my_list = ['abcd', 'bacd', 'baad']

In [35]:
my_list.sort()

In [36]:
my_list

['abcd', 'baad', 'bacd']

In [37]:
my_tuple = (1,'apple',58.9)

In [38]:
my_tuple

(1, 'apple', 58.9)

In [39]:
my_tuple.index(1)

0

In [40]:
my_tuple.count(1)

1

In [41]:
my_dict = {'egg':True,'milk':False,'rice':True}

In [42]:
my_dict.items()

dict_items([('egg', True), ('milk', False), ('rice', True)])

In [43]:
my_dict.keys()

dict_keys(['egg', 'milk', 'rice'])

In [44]:
my_dict.values()

dict_values([True, False, True])

In [45]:
my_dict

{'egg': True, 'milk': False, 'rice': True}

In [46]:
my_dict['egg']

True

In [47]:
another_dict = {'sugar':False,'Salt':True}

In [48]:
another_dict

{'sugar': False, 'Salt': True}

In [49]:
my_dict = {'new_dict':[4,89.45,'value_one']}

In [50]:
my_dict['new_dict'][1]

89.45

In [51]:
my_dict

{'new_dict': [4, 89.45, 'value_one']}

In [52]:
my_dict['key_new'] = 'new_value'

In [53]:
my_dict

{'new_dict': [4, 89.45, 'value_one'], 'key_new': 'new_value'}

In [54]:
s = set([1,2,2,3,2,3,2,3,1,3])

In [55]:
s

{1, 2, 3}

In [56]:
item = s.pop()

In [57]:
item

1

In [58]:
s.add(1)

In [59]:
s

{1, 2, 3}

In [60]:
another_set = set()

In [61]:
another_set.add(2)

In [62]:
another_set

{2}

In [63]:
new_set = set()

In [64]:
type(new_set)

set

In [65]:
new_set.add(8)

In [66]:
new_set

{8}

### This is going to give error

In [67]:
d = {'APflour':200,'sugar':'1 cups','milk':300,'butter':95}.

SyntaxError: invalid syntax (<ipython-input-67-daf52d121a76>, line 1)

In [68]:
d = {'APflour':200,'sugar':'1 cups','milk':300,'butter':95}

**<font style='font-size:14' >pressing 'tab' after above '.' will show the dictonary methods even if the dictionary has not been created the reason is as curly braces are used for creating dictionaries it will automatically assume it as a dictionary</font>**

In [69]:
d['sugar'] = '1 cup'

In [70]:
print(d["sugar"])

1 cup

In [71]:
d

{'APflour': 200, 'sugar': '1 cup', 'milk': 300, 'butter': 95}

In [72]:
a_list = ['qucik','brown','fox']

In [73]:
a_list

['qucik', 'brown', 'fox']

In [74]:
a_list.append('is')

In [75]:
a_list.sort()

In [76]:
a_list

['brown', 'fox', 'is', 'qucik']

In [77]:
b_list = a_list + ['it','a','quick','brown','fox']

In [78]:
b_list

['brown', 'fox', 'is', 'qucik', 'it', 'a', 'quick', 'brown', 'fox']

In [79]:
d['an_item'] = a_list[2]

In [80]:
d['an_item']

'is'

In [81]:
type('an_item')

str

#### 'an_item' is defined but it is not the case with an_item

In [82]:
d[an_item] = a_list[3]

NameError: name 'an_item' is not defined

In [83]:
# so lets define an_item as None, int, str
an_item = None

In [84]:
d[an_item] = a_list[3]

In [85]:
d[an_item]

'qucik'

In [86]:
d

{'APflour': 200,
 'sugar': '1 cup',
 'milk': 300,
 'butter': 95,
 'an_item': 'is',
 None: 'qucik'}

In [87]:
type(an_item)

NoneType

In [88]:
an_item = 54

In [89]:
type(an_item)

int

In [90]:
d[an_item] = 'ghgh'

In [91]:
d

{'APflour': 200,
 'sugar': '1 cup',
 'milk': 300,
 'butter': 95,
 'an_item': 'is',
 None: 'qucik',
 54: 'ghgh'}

In [92]:
an_item = 'new_item'

In [93]:
type(an_item)

str

In [94]:
d[an_item] = 'it is value of new item'

In [95]:
d

{'APflour': 200,
 'sugar': '1 cup',
 'milk': 300,
 'butter': 95,
 'an_item': 'is',
 None: 'qucik',
 54: 'ghgh',
 'new_item': 'it is value of new item'}

In [96]:
# if I give an_item the value as 'an_item'
an_item = 'an_item'

In [97]:
type(an_item)

str

In [98]:
d

{'APflour': 200,
 'sugar': '1 cup',
 'milk': 300,
 'butter': 95,
 'an_item': 'is',
 None: 'qucik',
 54: 'ghgh',
 'new_item': 'it is value of new item'}

In [99]:
d['an_item']

'is'

In [100]:
d[an_item] = 'replaced_item'

In [101]:
d[an_item]

'replaced_item'

In [102]:
d['an_item']

'replaced_item'

In [103]:
d

{'APflour': 200,
 'sugar': '1 cup',
 'milk': 300,
 'butter': 95,
 'an_item': 'replaced_item',
 None: 'qucik',
 54: 'ghgh',
 'new_item': 'it is value of new item'}

**that's how it works**

In [104]:
str = 'iamhere'

In [105]:
str = str.upper()

In [106]:
str

'IAMHERE'

In [107]:
str.lower()

'iamhere'

In [108]:
str

'IAMHERE'

In [109]:
str.casefold()

'iamhere'

In [110]:
'gh'.capitalize()

'Gh'

In [111]:
'gh'.casefold()

'gh'

In [112]:
'GH'.capitalize()

'Gh'

In [113]:
'GH'.casefold()

'gh'

In [114]:
str

'IAMHERE'

In [115]:
str[-1]

'E'

In [116]:
str[::-1]

'EREHMAI'

In [117]:
a_list.append('err')

In [118]:
a_list

['brown', 'fox', 'is', 'qucik', 'err']

In [119]:
print('ok')

ok

In [120]:
b_list

['brown', 'fox', 'is', 'qucik', 'it', 'a', 'quick', 'brown', 'fox']

In [121]:
set(b_list)

{'a', 'brown', 'fox', 'is', 'it', 'qucik', 'quick'}

In [122]:
a_set = set(b_list
           )

In [123]:
a_set

{'a', 'brown', 'fox', 'is', 'it', 'qucik', 'quick'}

In [124]:
a_set.add('it')

In [125]:
a_set

{'a', 'brown', 'fox', 'is', 'it', 'qucik', 'quick'}

In [126]:
a_set.add('here')

In [127]:
a_set

{'a', 'brown', 'fox', 'here', 'is', 'it', 'qucik', 'quick'}

In [128]:
b_list

['brown', 'fox', 'is', 'qucik', 'it', 'a', 'quick', 'brown', 'fox']

In [129]:
b_list[::-1]

['fox', 'brown', 'quick', 'a', 'it', 'qucik', 'is', 'fox', 'brown']

In [130]:
a_tuple = ('hello','hi','goodmorning','good morning')

In [131]:
len(a_tuple)

4

In [132]:
a_tuple[::-1]

('good morning', 'goodmorning', 'hi', 'hello')

In [133]:
a_tuple.count('good morning')

1

In [134]:
b_tuple = ('a','a','a','b','b','b','c','c','d')

In [135]:
b_tuple

('a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'd')

In [136]:
b_tuple.count('a')

3

In [137]:
b_tuple.count('b')

3

In [138]:
b_tuple.count('c')

2

In [139]:
a_tuple.index('hi')

1

In [140]:
d['milk']

300

In [141]:
d

{'APflour': 200,
 'sugar': '1 cup',
 'milk': 300,
 'butter': 95,
 'an_item': 'replaced_item',
 None: 'qucik',
 54: 'ghgh',
 'new_item': 'it is value of new item'}

In [142]:
c_set = set().add(2)

In [143]:
type(c_set)

NoneType

In [144]:
c_set = set()

In [145]:
type(c_set)

set

In [146]:
c_set.add(2)

In [147]:
c_set

{2}

In [148]:
c_set.add(6.98)

In [149]:
c_set

{2, 6.98}

In [150]:
b = None

In [151]:
print(b)

None

In [152]:
1 < 2

True

In [153]:
1 > 2

False

In [154]:
print(False)

False

In [155]:
type(True)

bool

In [156]:
bln = 1 < 2

In [157]:
bln

True

In [158]:
1 == 1

True

In [159]:
1 == '1'

False

In [160]:
1 == 1.0

True

In [161]:
'hi'

'hi'

In [162]:
pwd

'C:\\Users\\Manas'

In [163]:
%%writefile afile.txt
this is a file that I created
this is the second line

Writing afile.txt

In [164]:
myfile = open('afile.txt')

In [165]:
myfile = open('test.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'test.txt'

In [166]:
contents = myfile.read()
contents

'this is a file that I created\nthis is the second line\n'

In [167]:
contents.index('\n')

29

In [168]:
print(contents)

this is a file that I created
this is the second line

**overwriting the previously created file**

In [169]:
%%writefile afile.txt
this is a file that I created
this is the second line
this is the third line and overwriting file

Overwriting afile.txt

In [170]:
myfile.seek(0)

0

In [171]:
%%writefile bfile.txt
this is the second file
second line of file

Writing bfile.txt

In [172]:
another_file = open('bfile.txt')

In [173]:
contents_again = another_file.read()

In [174]:
contents

'this is a file that I created\nthis is the second line\n'

In [175]:
print(contents_again)

this is the second file
second line of file

In [176]:
another_file.seek(0)

0

another_file.read()

In [177]:
another_file.readlines()

['this is the second file\n', 'second line of file\n']

### This is how u write in Italic

*This is Italic text*

<strong>This is strong text</strong>

<font color='red'>Text is red color</font>

### *This is an Italic heading*

In [178]:
f = open('afile.txt')

In [179]:
con = f.read()
f.close()
con

'this is a file that I created\nthis is the second line\nthis is the third line and overwriting file\n'

In [180]:
with open('afile.txt') as f:
    print(f.read())

this is a file that I created
this is the second line
this is the third line and overwriting file

In [181]:
with open('afile.txt', mode = 'a') as f:
    f.write('This is the fourth line appended')

In [182]:
with open('afile.txt') as f:
    print(f.read())

this is a file that I created
this is the second line
this is the third line and overwriting file
This is the fourth line appended

In [183]:
with open('afile.txt') as f:
    con = f.read()

In [184]:
con

'this is a file that I created\nthis is the second line\nthis is the third line and overwriting file\nThis is the fourth line appended'

In [185]:
new_file_str = '\nthe fifth line is appended using string'

In [186]:
with open('afile.txt', mode = 'a') as f:
    f.write(new_file_str)

In [187]:
with open('afile.txt') as f:
    con = f.read()

In [188]:
con

'this is a file that I created\nthis is the second line\nthis is the third line and overwriting file\nThis is the fourth line appended\nthe fifth line is appended using string'

In [189]:
print(con)

this is a file that I created
this is the second line
this is the third line and overwriting file
This is the fourth line appended
the fifth line is appended using string

In [190]:
with open('afile.txt') as f:
    con = f.read()
    f.close()
#using close() will not lead to error

In [191]:
con

'this is a file that I created\nthis is the second line\nthis is the third line and overwriting file\nThis is the fourth line appended\nthe fifth line is appended using string'

### To highlight code snippets use ' `` '

`Writing the code to b highlighted inside here`

In [192]:
f = open('afile.txt', mode = 'a')

In [193]:
f.write('\n New sixth line')

16

In [194]:
f = open('afile.txt')
f.read()

'this is a file that I created\nthis is the second line\nthis is the third line and overwriting file\nThis is the fourth line appended\nthe fifth line is appended using string\n New sixth line'

In [195]:
f = open('afile.txt', mode= 'a+')
f.read()

''

In [196]:
f.write('\n Newly appended seventh line')

29

In [197]:
f.seek(0)
f.read()

'this is a file that I created\nthis is the second line\nthis is the third line and overwriting file\nThis is the fourth line appended\nthe fifth line is appended using string\n New sixth line\n Newly appended seventh line'

In [198]:
f.seek(0)
# it is always a good practice to close a file after using it
f.close()

In [199]:
a = 'aaa'
b = 'bb'
if len(a) > len(b):
    print(b + a + b)
else:
    print(a + b + a)

bbaaabb

In [200]:
2**38

274877906944

In [201]:
testlist1 = [1,5,3,6]
testlist2 = [7,8,3,5]
testlist3 = [6,4,3,1]

In [202]:
if testlist1[0] == 6 or testlist1[-1] == 6:
    print(True)
else:
    print(False)

True

In [203]:
testlist1[-1]

6

In [204]:
testlist2[0-(len(testlist2)-1)]

8

In [205]:
testlist2[-4]

7

In [206]:
testlist2[0-(len(testlist2)-1):]

[8, 3, 5]

In [207]:
testlist2[0-(len(testlist2)-1)] + testlist2[0]

15

In [208]:
new_testlist =[]

In [209]:
type(new_testlist)

list

In [210]:
new_testlist.append(testlist2[0])

**See how list is appended to another list in above example**

In [211]:
new_testlist

[7]

In [212]:
new_testlist.append(testlist2[1:])

In [213]:
new_testlist

[7, [8, 3, 5]]

In [214]:
new_testlist.clear()

In [215]:
new_testlist

[]

In [216]:
new_testlist.append(testlist2[1])
new_testlist.append(testlist2[2])
new_testlist.append(testlist2[0])
new_testlist

[8, 3, 7]

In [217]:
if testlist2[2] > testlist2[0]:
    print([testlist2[2],testlist2[2],testlist2[2]])
else:
    print('[{y},{y},{y}]'.format(y = testlist2[0]))

[7,7,7]

In [218]:
print('[I,am,{}]'.format(7))

[I,am,7]

In [219]:
print('[I,{},{}]'.format(7))

IndexError: tuple index out of range

**Incorrect number of arguments passed in above format() method**

### Below is in right syntax

In [220]:
print('[I,{},{}]'.format(7,7))

[I,7,7]

In [221]:
new_testlist = [testlist2[0],testlist2[0],testlist2[0]]

In [222]:
new_testlist.

SyntaxError: invalid syntax (<ipython-input-222-79330e118a86>, line 1)

In [223]:
new_testlist

[7, 7, 7]

In [224]:
if testlist2[2] > testlist2[0]:
    new_testlist = [testlist2[0],testlist2[0],testlist2[0]]
else:
    new_testlist = [testlist2[2],testlist2[2],testlist2[2]]
new_testlist

[3, 3, 3]

### Both a and b has different set of methods even if they are both numbers

In [225]:
a = 23
b = 23.14

In [226]:
astring = 'HI'

In [227]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [228]:
d['k1']

[{'nest_key': ['this is deep', ['hello']]}]

In [229]:
d['k1'][0]

{'nest_key': ['this is deep', ['hello']]}

In [230]:
d['k1'][0]['nest_key']

['this is deep', ['hello']]

In [231]:
d['k1'][0]['nest_key'][0]

'this is deep'

In [232]:
d['k1'][0]['nest_key'][1]

['hello']

In [233]:
d['k1'][0]['nest_key'][1][0]

'hello'

In [234]:
print(d['k1'][0]['nest_key'][1][0])

hello

In [235]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

print(d['k1'][2]['k2'][1]['tough'][2])

['hello']

In [236]:
print(d['k1'][2]['k2'][1]['tough'][2][0])

hello

<button>Click</button><br><p>Click it</p>

[Google](https://www.google.com)

<table>
    <tr>
        <th>Heading</th><th>Another Heading</th>
    </tr>
    <tr>
        <td>First Row Description</td><td>Another 1st Row Description</td>
    </tr>
    <tr>
        <td>Second Row Description</td><td>Another 2nd Row Description</td>
    </tr>
    <tr>
        <td>Third Row Description</td><td>Another 3rd Row Description</td>
    </tr>
</table>

## This is the end of Practice Runs :(
<br><br><br><br><br><br><br><br><br><br>
## And begining of Practice Runs 2 :D
## We will meet there